@page
@model MyApp.Namespace.AboutModel
@{
}


    <h1>Amanda</h1>
    <p>Amanda är jag, och det är jag so skapat denna applikation. Jag är 31 år gammal och bor i Karlskoga.
        <br>
        Jag är en person med många hobbys, nedan listar jag ett urplock:
    </p>

    <ul>
        <li>Djur</li>
        <li>Trädgård och odling</li>
        <li>Fiske</li>
        <li>Plocka svamp och annat ätbart i skogen</li>
        <li>Spela datorspel</li>
        <li>Scrapbboking</li>
        <li>Fotografi</li>
    </ul>