@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <h1>Välkommen till min applikation</h1>
    <p>Det här är min applikation skapad med Razor. </p>

    <h2>Mitt skrivbord</h2>
    <p>Jag har inte städat mitt skrivbord på länge, så här listar jag alla de saker som för tillfället ligger här:</p>
    <ul>
        <li>Fyra Anteckningsblock</li>
        <li>En kalender</li>
        <li>Två pennor</li>
        <li>En servett</li>
        <li>En bok om biodling</li>
        <li>Tre bäcker om att driva en webbutik</li>
        <li>En bok om projektledning</li>
        <li>Ett måttband</li>
        <li>En veterinärräkning</li>
        <li>En kallelse</li>
        <li>En tom glasburk utan lock</li>
        <li>Ett godispapper</li>
        <li>Sju laddkablar</li>
        <li>En spelkontroll</li>
        <li>En påse med chilifrön</li>
    </ul>

